div.dogbox {
    padding: 10px;
    border: 1px solid #ccc;
}

section {
    display: flex;
    flex-wrap: wrap;
}

div.sexbreed {
    max-width: 300px;
    overflow-wrap: break-word;
    white-space: normal;
}

h1 {
    font-family: Arial;
    font-weight: bold;
    color: #f37321;
}

h2 {
    font-family: Arial;
    font-weight: normal;
    color: white;
    background-color: #2e4057;
}
